
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Backups</h2>
  </div>
  <div class="panel-body">
    <form name="novoBackup">
      <h4>Novo backup</h4>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div
            ng-class="{'has-error': novoBackup.hostOrigem.$error && novoBackup.hostOrigem.$prestine}"
            class="form-group">
            <label for="origem" class="control-label">Origem</label>
            <select
              class="form-control"
              id="origem"
              name="hostOrigem"
              ng-disabled="running || model.backup.hostOrigem"
              ng-required="true"
              ng-model="model.ipOrigem"
              ng-options="h.ip as h.ip for h in model.hosts"
            ></select>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="form-group">
            <label for="origem" class="control-label">Destino</label>
            <select
              class="form-control"
              id="destino"
              ng-disabled="running || model.backup.hostDestino"
              ng-model="model.ipDestino"
              ng-options="h.ip as h.ip for h in model.hosts"
            ></select>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <button
            ng-click="confirmarOrigemDestino($event)"
            ng-hide="model.backup.hostOrigem && model.backup.hostDestino"
            loader
            loader-icon="fa-spinner"
            class="btn btn-md btn-primary without-label">
            <span class="fa fa-plus"></span> Adicionar pastas
          </button>
        </div>
      </div>
      <div ng-show="model.backup.hostOrigem && model.backup.hostDestino">
        <div class="row">
          <div class="col-xs-12 col-md-8">
            <div class="form-group">
              <label for="" class="control-label">
                Diretórios e arquivos
              </label>
              <div class="input-group m-b">
                <input
                  type="text"
                  class="form-control"
                  ng-model="model.item">
                <div class="input-group-btn">
                  <button
                    ng-click="addItem()"
                    class="btn btn-primary">
                    <span class="fa fa-plus"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          ng-repeat="item in model.backup.itens track by $index"
          class="row">
          <div class="col-xs-12 col-md-8">
            <div class="input-group m-b">
              <input
                type="text"
                class="form-control"
                ng-model="model.backup.itens[$index]">
              <div class="input-group-btn">
                <button
                  ng-click="removeItem(model.backup.itens[$index])"
                  class="btn btn-danger">
                  <span class="fa fa-trash-o"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        ng-show="model.backup.hostOrigem && model.backup.hostDestino"
        class="row">
        <div class="col-xs-12">
          <button
            ng-click="cancelarBackup()"
            class="btn btn-primary">
            <span class="fa fa-ban"></span> Cancelar
          </button>
          <button
            ng-show="model.backup.itens.length"
            ng-click="executarBackup($event)"
            loader
            loader-icon="fa-spinner"
            class="btn btn-danger">
            <span class="fa fa-bolt"></span> Executar backup
          </button>
        </div>
      </div>
    </form>
    <hr>
    <h4>Backups realizados</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Origem</th>
          <th>Destino</th>
          <th>Data e hora</th>
          <th>Arquivo</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="backup in model.backups track by $index">
          <td>{{backup.ipOrigem}}</td>
          <td>{{backup.ipDestino}}</td>
          <td>{{backup.dataExecucao | date:'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{backup.arquivoGerado}}</td>
        </tr>
        <tr ng-hide="model.backups.length">
          <td colspan="4">
            <div class="alert alert-info -m-b">Nenhum backup realizado.</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
