
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Backups</h2>
  </div>
  <div class="panel-body">
    <form name="novoBackup">
      <h4>Novo backup</h4>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div
            ng-class="{'has-error': novoBackup.hostOrigem.$error && novoBackup.hostOrigem.$prestine}"
            class="form-group">
            <label for="origem" class="control-label">Origem</label>
            <select
              class="form-control"
              id="origem"
              name="hostOrigem"
              ng-disabled="running"
              ng-required="true"
              ng-model="model.ipOrigem"
              ng-options="h.ip as h.ip for h in model.hosts"
            ></select>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="form-group">
            <label for="origem" class="control-label">Destino</label>
            <select
              class="form-control"
              id="destino"
              ng-disabled="running"
              ng-model="model.ipDestino"
              ng-options="h.ip as h.ip for h in model.hosts"
            ></select>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <button
            ng-click="confirmarOrigemDestino($event)"
            ng-hide="model.backup.hostOrigem && model.backup.hostDestino"
            loader
            loader-icon="fa-spinner"
            class="btn btn-md btn-primary without-label">
            <span class="fa fa-plus"></span> Adicionar pastas
          </button>
        </div>
      </div>
      <div
       ng-show="model.backup.hostOrigem && model.backup.hostDestino"
       class="row">
        <div class="col-xs-12 col-md-4">
          <div class="form-group">
            <label for="" class="control-label">
              Diretórios e arquivos
            </label>
            <div class="input-group m-b">
              <input
                type="text"
                class="form-control"
                ng-model="model.item">
              <div class="input-group-btn">
                <button
                  ng-click="addItem()"
                  class="btn btn-primary">
                  <span class="fa fa-plus"></span>
                </button>
              </div>
            </div>
            <div
             class="input-group m-b"
             ng-repeat="item in model.backup.itens track by $index">
              <input
                type="text"
                class="form-control"
                ng-model="model.backup.itens[$index]">
              <div class="input-group-btn">
                <button
                  ng-click="removeItem($index)"
                  class="btn btn-warning">
                  <span class="fa fa-minus"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="form-group">
            <label for="" class="control-label">Diretório destino</label>
            <input type="text" class="form-control" ng-model="model.backup.diretorioDestino">
          </div>
          <div ng-show="model.backup.diretorioDestino" class="form-group">
            <button
              ng-click="executarBackup($event)"
              class="btn btn-danger">
              <span class="fa fa-bolt"></span> Executar backup
            </button>
          </div>
        </div>
      </div>
    </form>
    <hr>
    <h4>Backups realizados</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Data e hora</th>
          <th>Origem</th>
          <th>Destino</th>
          <th>Pastas</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in model.users track by $index">
          <td>{{host.ip}}</td>
          <td>{{host.lost | number}}%</td>
          <td>{{host.latency}}</td>
          <td>
            <button
              class="btn btn-sm btn-danger">
              <span class="fa fa-remove"></span>
            </button>
          </td>
        </tr>
        <tr ng-hide="model.users.length">
          <td colspan="4">
            <div class="alert alert-info -m-b">Nenhum usuário para ser listado.</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
