
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Backups</h2>
  </div>
  <div class="panel-body">
    <form name="novoBackup" class="block">
      <h4 class="block-header">
        <span class="fa fa-plus"></span> Novo backup
      </h4>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <div
            ng-class="{'has-error': novoBackup.hostOrigem.$error && novoBackup.hostOrigem.$prestine}"
            class="form-group">
            <label for="origem" class="control-label">Origem</label>
            <select
              class="form-control"
              id="origem"
              name="hostOrigem"
              ng-disabled="running || model.backup.hostOrigem"
              ng-model="model.ipOrigem"
              ng-options="h.ip as h.ip for h in model.hosts"
            ></select>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="form-group">
            <label for="origem" class="control-label">Destino</label>
            <select
              class="form-control"
              id="destino"
              ng-disabled="running || model.backup.hostDestino"
              ng-model="model.ipDestino"
              ng-options="h.ip as h.ip for h in model.hosts"
            ></select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <button
            ng-click="confirmarOrigemDestino($event)"
            ng-hide="model.backup.hostOrigem && model.backup.hostDestino"
            loader
            loader-icon="fa-spinner"
            class="btn btn-md btn-primary btn-block">
            <span class="fa fa-plus"></span> Adicionar pastas
          </button>
        </div>
      </div>
      <div ng-show="model.backup.hostOrigem && model.backup.hostDestino">
        <div class="row">
          <div class="col-xs-12 col-md-9">
            <h5 class="block-header--inner">Arquivos e diretórios</h5>
            <div class="form-group">
              <div class="input-group m-b">
                <input
                  type="text"
                  class="form-control"
                  ng-disabled="running"
                  ng-model="model.item">
                <div class="input-group-btn">
                  <button
                    ng-click="addItem()"
                    class="btn btn-success">
                    <span class="fa fa-plus"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          ng-repeat="item in model.backup.itens track by $index"
          class="row">
          <div class="col-xs-12 col-md-9">
            <div class="input-group m-b">
              <input
                type="text"
                class="form-control"
                ng-disabled="running"
                ng-model="model.backup.itens[$index]">
              <div class="input-group-btn">
                <button
                  ng-click="removeItem(model.backup.itens[$index])"
                  class="btn btn-danger">
                  <span class="fa fa-trash-o"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        ng-show="model.backup.hostOrigem && model.backup.hostDestino && !agendando"
        class="row">
        <div class="col-xs-12 col-md-3">
          <button
            ng-click="cancelarBackup()"
            ng-disabled="running"
            class="btn btn-danger btn-block">
            <span class="fa fa-ban"></span> Cancelar
          </button>
        </div>
        <div class="col-xs-12 col-md-3">
          <button
            ng-show="model.backup.itens.length"
            ng-click="executarBackup($event)"
            loader
            loader-icon="fa-spinner"
            class="btn btn-success btn-block">
            <span class="fa fa-bolt"></span> Executar backup
          </button>
        </div>
        <div class="col-xs-12 col-md-3">
          <button
            ng-show="model.backup.itens.length"
            ng-click="iniciarAgendamento()"
            loader
            loader-icon="fa-spinner"
            class="btn btn-info btn-block">
            <span class="fa fa-clock-o"></span> Agendar backup
          </button>
        </div>
      </div>
      <div ng-show="agendando">
        <div class="row">
          <div class="col-xs-12 col-md-9">
            <h5 class="block-header--inner">Agendamento</h5>
            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="">Identificação</label>
                  <input
                    ng-model="model.agendamento.identificacao"
                    ng-required="true"
                    type="text">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-3">
                <div class="form-group">
                  <label for="agenda-hora">Hora</label>
                  <select
                    class="form-control"
                    ng-model="model.agendamento.hora"
                    ng-options="h.value as h.name for h in model.horas"
                    name="" id="agenda-hora">
                  </select>
                </div>
              </div>
              <div class="col-xs-12 col-md-3">
                <div class="form-group">
                  <label for="agenda-minuto">Minuto</label>
                  <select
                    class="form-control"
                    ng-model="model.agendamento.minuto"
                    ng-options="h.value as h.name for h in model.minutos"
                    name="" id="agenda-minuto">
                  </select>
                </div>
              </div>
              <div class="col-xs-12 col-md-3">
                <div class="form-group">
                  <label for="agenda-dia">Dia</label>
                  <select
                    class="form-control"
                    ng-model="model.agendamento.dia"
                    ng-options="d.value as d.name for d in model.dias"
                    name="" id="agenda-dia">
                  </select>
                </div>
              </div>
              <div class="col-xs-12 col-md-3">
                <div class="form-group">
                  <label for="agenda-mes">Mês</label>
                  <select
                    class="form-control"
                    ng-model="model.agendamento.mes"
                    ng-options="m.value as m.name for m in model.meses"
                    name="" id="agenda-mes">
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label for="agenda-dia-semana">Dia da semana</label>
                  <select
                    class="form-control"
                    ng-model="model.agendamento.diaDaSemana"
                    ng-options="s.value as s.name for s in model.diasDaSemana"
                    name="" id="agenda-dia-semana">
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <button
                  ng-click="cancelarAgendamento()"
                  ng-disabled="running"
                  class="btn btn-danger btn-block">
                  <span class="fa fa-ban"></span> Cancelar
                </button>
              </div>
              <div class="col-xs-12 col-md-4">
                <button
                  ng-show="model.backup.itens.length"
                  ng-click="agendarBackup($event)"
                  loader
                  loader-icon="fa-spinner"
                  class="btn btn-success btn-block">
                  <span class="fa fa-clock-o"></span> Agendar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="block">
      <h4 class="block-header">
        <span class="fa fa-clock-o"></span> Backups agendados
      </h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Origem</th>
            <th>Destino</th>
            <th>Itens</th>
            <th>Agendamento</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="agendamento in model.agendamentos track by $index">
            <td>{{ agendamento.backup.ipOrigem }}</td>
            <td>{{ agendamento.backup.ipDestino }}</td>
            <td>
              <span ng-repeat="item in agendamento.backup.itens track by $index">
                {{ item }} <br>
              </span>
            </td>
            <td>
              <span class="fa fa-clock-o"></span> {{ agendamento.hora }}h{{ agendamento.minuto }}min
              <br>
              <span class="fa fa-calendar d-ib v-align-t"></span>
              <span class="d-ib v-align-t">
                <span
                  class="fwb"
                  ng-show="agendamento.dia !== 'A'">Dia(s)</span>
                {{ agendamento.humanize.dia }} <br>
                <span
                  class="fwb"
                  ng-show="agendamento.mes !== 'A'">Mês(es)</span>
                {{ agendamento.humanize.mes}} <br>
                {{ agendamento.humanize.diaDaSemana }}
              </span>
            </td>
            <td>
              <button
                ng-click="removerAgendamento($event, agendamento.identificacao)"
                loader
                loader-icon="fa-spinner"
                title="Cancelar agendamento"
                class="btn btn-sm btn-danger">
                <span class="fa fa-ban fa-fw"></span>
              </button>
              <button
                ng-click="executarAgora($event, agendamento.identificacao)"
                loader
                loader-icon="fa-spinner"
                title="Executar agora"
                class="btn btn-sm btn-primary">
                <span class="fa fa-bolt fa-fw"></span>
              </button>
              <button
                ng-click="editarAgendamento($index, agendamento.identificacao)"
                loader
                loader-icon="fa-spinner"
                title="Editar configurações"
                class="btn btn-sm btn-info">
                <span class="fa fa-cog fa-fw"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="block">
      <h4 class="block-header">
        <span class="fa fa-list"></span> Backups realizados
      </h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Origem</th>
            <th>Destino</th>
            <th>Data e hora</th>
            <th>Arquivo</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="backup in model.backups track by $index">
            <td>{{backup.ipOrigem}}</td>
            <td>{{backup.ipDestino}}</td>
            <td>{{backup.dataExecucao | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{backup.arquivoGerado}}</td>
          </tr>
          <tr ng-hide="model.backups.length">
            <td colspan="4">
              <div class="alert alert-info -m-b">Nenhum backup realizado.</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
