<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Configuração inicial</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <h4>Inserir hosts</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <label class="form-control-label">IP do host</label>
          <input
            ng-disabled="model.addingHost"
            ng-model="model.host.hostname"
            type="text"
            class="form-control">
        </div>
      </div>
      <div class="col-xs-12 col-md-2">
        <button
          ng-click="addHost($event)"
          loader
          loader-icon="fa-spinner"
          title="Clique para adicionar o ip na lista de hosts conhecidos"
          class="btn btn-primary without-label">
          <span class="fa fa-plus"></span> Adicionar
        </button>
      </div>
    </div>
    <hr>
    <h4>Lista de hosts</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>IP</th>
          <th>Perdas</th>
          <th>Latência</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="host in hosts track by $index">
          <td>{{host.ip}}</td>
          <td>
            <span ng-show="host.perda !== null">{{host.perda | number:2}}%</span>
            <span ng-hide="host.perda !== null">inacessível</span>
          </td>
          <td>
            <span ng-show="host.latencia !== null">{{host.latencia | number:3}}s</span>
            <span ng-hide="host.latencia !== null">inacessível</span>
          </td>
          <td>
            <button
              ng-click="removeHost(host.ip)"
              class="btn btn-sm btn-danger">
              <span class="fa fa-remove"></span>
            </button>
          </td>
        </tr>
        <tr ng-hide="hosts.length">
          <td colspan="4">
            <div class="alert alert-info -m-b">Nenhum host informado.</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
