<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Usuários</h2>
  </div>
  <div class="panel-body">
    <form name="frmUsuarioFind">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="form-group">
            <label for="" class="form-control-label">IP do servidor</label>
            <!-- <input type="text" ng-model="filtro.ipServidor" class="form-control"> -->
            <select
              name=""
              ng-options="h.ip for h in hosts"
              ng-model="filtro.ipServidor" id="" class="form-control">
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="form-group">
            <label for="" class="form-control-label">Nome do usuario</label>
            <input type="text" ng-model="filtro.nomeUsuario" class="form-control">
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <label for=""></label>
          <button
            style="margin-top: 24px;"
            ng-click="buscarUsuario()"
            class="btn btn-primary">
            Buscar
          </button>
        </div>
      </div>
    </form>
    <hr>
    <h4>Usuários</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Pasta <i>home</i></th>
          <th>Último acesso</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in model.users track by $index">
          <td>{{host.ip}}</td>
          <td>{{host.lost | number}}%</td>
          <td>{{host.latency}}</td>
          <td>
            <button
              class="btn btn-sm btn-danger">
              <span class="fa fa-remove"></span>
            </button>
          </td>
        </tr>
        <tr ng-hide="model.users.length">
          <td colspan="4">
            <div class="alert alert-info -m-b">Nenhum usuário para ser listado.</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
